<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output.css" rel="stylesheet">
    <style>
        body {
            overflow: hidden;
        }
    </style>
    <title>SnapText</title>

</head>
<body class="bg-[#B3B8F5]">
    
    
        
    <header class="text-gray-400 bg-[#B3B8F5] body-font ">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a href ="/" class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
            <img src="/SnapTextLogo.png" class="h-12  ">
            <span class="ml-3 text-3xl text-white hover:text-black">SnapText</span>
          </a>

          <button class="inline-flex items-end hidden md:block bg-[#6F7AFF] border-0 py-3 px-5 focus:outline-none hover:bg-blue-700 text-white rounded-md text-base mt-4 md:mt-0 md:ml-auto md:mr-5 flex flex-wrap items-end text-base justify-end"><a href="/register">Sign up</a></button>
          
        </div>
      </header>
      <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700">
      <main class="grid grid-cols-2">
        <left class="font-semibold text-center justify-center place-self-center text-[4.5rem] leading-[5rem] ml-4">From Paper to 
        Pixels, in a Snap
        <div><a href="/register"><button class="  bg-[#6F7AFF] border-0 py-5 px-5  bfocus:outline-none hover:bg-blue-700 text-white rounded-lg text-base text-base text-[2.5rem] ">Get Started</button></a>

            
            <a href="https://scribehow.com/page/Untitled__bptJMKbuTECBkLHO5w6iNw" target="_blank"><button class="  bg-[#6F7AFF] border-0 py-5 px-5  bfocus:outline-none hover:bg-blue-700 text-white rounded-lg text-base text-base text-[2.5rem] ">Docs</button></div></a>
            
        </left>
        
        <right><img class="h-[46rem]"src="./book.png"></right>
        
      </main>

    
</body>
</html>